<!DOCTYPE html>
<html>
<body>

<h1>Sign up for a sport below and select Submit</h1>


<h2>Sports</h2>
  <ol>
    <li>Baseball</li>
    <li>Basketball</li>
    <li>Soccer</li>
    <li>Tennis</li>
    <li>Kickball</li>
    <li>Flag Football</li>
  </ol>
  <h2>Sign Up</h2>
<form action="/register" method="POST">
  <label for="sport">Sport: </label>
  <input type="text" name="sport" id="sport"><br>
  <label for="age">Age: </label>
  <input type="ingeger" name="age" id="age"><br>
  <label for="skill_level">Skill Level: </label>
  <input type="text" name="skill_level" id="skill_level">



  <br><br>
  <input type="submit" value="Submit">
</form>







</body>
</html>