<h1>Welcome to your Sports Join account</h1>
  <p>To register for a sport you can click on the "Register" button below. The sport(s) you are registered for will show below after you have registered.</p>
  <br><br>
  <a href="/register">Register</a>
</form>
<h2>Joined Sport(s)</h2>

<%= @sport.sport %>

