<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sports Join</title>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
        <a href="/account"><li>Account</li></a>
        <a href="/logout"><li>Logout</li></a>
      <% else %>
        <a href="/"><li>Sports Join</li></a>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>